*.autosave.xopp
*.xopp~
*.aux
*.auxlock
*.bcf
*.vrb
*.bbl
!*.bib
*-blx.bib
*.blg
*.cb
*.cb2
*.cut
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.loc
*.nav
*.out
*.pag
*.pdf
*.ps
*.run.xml
*.snm
*.spl
*.synctex.gz
*.synctex(busy)
*.toc
*.vtc
auto/
*.gz(busy)
*.dict
*.agdai
